.redesSociales {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 470px;
  margin-right: 10px;
  font-size: 30px;
  width: fit-content;
  position: fixed;
  top: 0;
  right: 0;
  width: fit-content;
  background-color: #d9ff01;
  padding-top: 4px;
  border-radius: 5px;
}
.redesSociales a {
  margin-left: 11px;
  margin-right: 11px;
  color: black;
  transition: 0.5s;
}
.redesSociales a:hover {
  cursor: pointer;
  scale: 1.2;
}
.contenedorLanding {
  margin-top: 60px;
  background-image: url("../../images/maxii.png");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}
.text {
  color: white;
  font-size: 100px;
  margin-left: 150px;
  padding-top: 150px;
  font-family: "Ubuntu", sans-serif;
}

.p {
  margin: 0;
}
.ps {
  margin: 0;
  padding: 0;
  display: flex;
}
.pfsd {
  color: #fff;
  border-radius: 5px;
  width: fit-content;
  text-align: start;
  padding: 5px;
  font-size: 20px;
  margin-top: 20px;
}
.letrosebich {
  display: flex;
}
.maxi {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  color: #d9ff01;
}

.barraAmarilla {
  background-color: #d9ff01;
  color: #d9ff01;
}
.botones {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  min-width: 130px;
  height: 40px;
  padding: 5px 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 10px 10px 0 0;
  z-index: 0;
  background: #d9ff01;
  overflow: hidden;
  border: 2px solid #d9ff01;
  color: black;
}
.button:hover {
  color: #d9ff01;
}
.button:hover:after {
  width: 100%;
}
.button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: black;
}
.buttonContrario {
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  min-width: 130px;
  height: 40px;
  padding: 5px 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 10px 10px 0 0;
  z-index: 0;
  background: black;
  overflow: hidden;
  border-bottom: 1px solid #d9ff01;
  color: #d9ff01;
}
.buttonContrario:hover {
  color: black;
}
.buttonContrario:hover:after {
  width: 100%;
}
.buttonContrario:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #d9ff01;
}

.buttonn {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  min-width: 130px;
  height: 20px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #d9ff01;
  overflow: hidden;
  border: 2px solid #d9ff01;
  color: black;
}
.buttonn:hover {
  color: #d9ff01;
}
.buttonn:hover:after {
  width: 100%;
}
.buttonn:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: black;
}

.divExp {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9ff01;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
}
.divInform {
  text-align: start;
}

.imgExp {
  height: 800px;
  object-fit: cover;
  margin-right: 40px;
  border-radius: 10px;
  border: 3px solid black;
  border-style: groove;
}
.ttExp {
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  color: #d9ff01;
  width: fit-content;
}
.educacionn {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  text-align: start;
  color: #fff;
  background-image: url("../../images/css.png");
}
.educacion1 {
  padding: 20px 70px 20px 70px;
}
.textEducationn {
  border: 3px solid #d9ff01;
  width: fit-content;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.897);
}
.ttEdu {
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  color: black;
  width: fit-content;
}
.certificado {
  color: #fff;
}
.certificado:hover {
  color: #d9ff01;
}
.cards {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-bottom: 0.5em;
}
.descriptionCard {
  font-family: "Roboto Mono", monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  padding: 10px;
  margin: 0;
  transform: translate(-50%, -50%);
  color: white;
}
.cardPadre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardImage {
  height: 300px;
  object-fit: contain;
  margin-right: 20px;
  display: block;
}

.cardImage:hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}
.henry {
  color: #d9ff01;
}
.henry:hover {
  text-decoration: underline;
}
.portfolio {
  color: #d9ff01;
}

@media all and (max-width: 400px) {
  .login {
    margin-bottom: 10%;
  }

  .contenedorLanding {
    display: flex;
    margin-top: 1px;
    background-image: none;
    background-color: #141414;
    padding-left: 5px;
    width: 100%;
    height: 250px;
  }

  .text {
    font-size: 20px;
    margin-left: 5px;
    padding-top: 80px;
  }

  .pfsd {
    padding: 5px;
    font-size: 11px;
    margin-top: 10px;
  }
  .letrosebich {
    display: flex;
  }
  .maxi {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    color: #d9ff01;
  }

  .educacionn {
    background-image: none;
  }

  .textEducationn {
    padding: 0px;
    margin: 20px;
    margin-top: 0px;
  }

  .redesSociales {
    display: none;
  }
  .button {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    width: 20px;
    padding: 5px 20px;
  }
  .buttonContrario {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    width: 20px;
    padding: 5px 20px;
  }

  .divExp {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9ff01;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
  }

  .imgExp {
    display: none;
  }

  .cardImage {
    height: 250px;
    object-fit: contain;
    margin-right: 0px;
  }
}
